<h1>Item component edit page</h1>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

<div *ngIf="item" class="editor_content">
  <div>
    <input [(ngModel)]="item.title" placeholder="Title" class="edit_title" />
  </div>
  <div>
    <textarea [(ngModel)]="item.body" (ngModelChange)="updatePreview(item)" placeholder="body" class="edit_body"></textarea>
  </div>
  <button (click)="updatePreview(item)">
    Preview
  </button>
  <button (click)="updateItem(item)">
    Update
  </button>
  <hr>
  <div [innerHTML]="item.rendered_body"></div>
</div>
